@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* General */ 
* {
  margin:0;
  padding:0;
  color: black;
  font-family: 'Poppins', sans-serif;
  text-decoration: None;
}

html,body {
  scroll-behavior: smooth;
  height: 100%;
}

a {
  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap:1rem;
  padding:1rem;
}

ul {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:1rem;
}

span{
  text-align: center;
}


/*-----layout.html-----*/

.content_container {
  width:100%;
  height:100%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  gap:2rem;
  margin-top: 2rem;
}

.background {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-left:1rem;
  margin-right:1rem;
  border-radius:0.5rem;
  padding:1rem;
}



nav {
  display: flex;
  list-style: none;
  height: 15vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo_nav {
  display:flex;
  flex-direction: row;
  height: 15vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.logo {
  font-size: 2rem;
  cursor: pointer;
  color: rgb(70,70,70);
  text-decoration: None;
  margin-left: 2rem;
}

.plant, .person {
  scale:1.5;
  color: rgb(70, 70, 70);
}

#person_button {
  margin-right: 1rem;
}

/* COMING SOON */
#darkmode_button{
  margin-left: 1rem;
}

.dark-mode {
  background-color: black;
}

/* Offcanvas */
.offcanvas-header{
  border-bottom: solid 0.1px;
  border-color: #A7A7A7;
}
.offcanvas_container{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.offcanvas_container button{
    margin-top: auto;
}

/* Register and Login links in Offcanvas*/
.link_container {
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin-top:auto;
}

.offcanvas-body{
  margin-top: 1rem;
}



/* Google materials */
.material-symbols-outlined {
  cursor:pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 250,
  'GRAD' 0,
  'opsz' 24;
}




/*-----adding_page.html-----*/

table {
  border-collapse: separate;
  overflow-x: scroll;
}

th {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  transition: 0.5s ease; 

}

td {
  text-align:left;
}

th, td {
  padding: 0.5rem;
}

/* Row of table with plant infos */
.plant_box {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  transition: 0.5s ease; 
  overflow-x: scroll;
}

/* Weekday picker */
.dowPicker {
  width: auto;
  text-align: center;
  user-select: none;
}

.dowPickerOption {
    display: inline-block;
}
.dowPickerOption input[type=checkbox] {
        display: none;
    }
.dowPickerOption label {
      font-size: 50px;
      color: #A7A7A7;
      cursor: pointer;
    }
    
.dowPickerOption input[type=checkbox]:checked ~ label {
      color: #464646;
    }

/* nobt = no Bootstrap*/
.input_group_nobt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Switch buttons */
#switch {
  display: flex;
  justify-content: space-between;
  width:20rem;
}


/* Github Button */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}
  

/* info_plant.html */

.info_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Container of each plant which is created*/
.plantbed{
  height: 100vh;
}

.plant_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height:30vh;
  width: 30vw;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
}

@media screen and (max-width: 420px) {
  .plant_table {
      width:80%;
      overflow: scroll;
  }

  .plant_container {
      width:60vw;
      height:fit-content;
  }
}


.delete_button {
  margin-left: auto;
}

/* Container with plant info beneath flower symbol */
.data_container {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap:0.5rem;
  color: #A7A7A7;
  padding-left:1rem;
  padding-right: 1rem;

}

/* Every row of data_cpntainer */
.info_container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: solid 0.1px;
  border-color: #A7A7A7;
  padding:0.7rem;
  width: 100%;
  gap:1rem;
}

/* Icon and data combinations (water drop and beneath is humidity percentage */
.icon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:10vw;
}

@media screen and (max-width: 900px) {
  .icon_container {
      width: 15vw;
  }
}


/* Container with flower symbol */
.flower_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  border-top: solid 0.1px;
  border-color: #A7A7A7;
}

.flower {
  scale:3;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:0.5rem;
  width: fit-content;
}

@media screen and (max-width: 900px) {
  .list-group {
    width:100%;
  }

  .list-group-item{
    flex-direction: column;
    width: 40vw;
  }
}


footer {
  position: relative;
  bottom: 0;
  text-align: center;
}


footer p{
  font-size: 0.5rem;
  color:grey;
}


.login_container {
  display: flex;
  flex-direction: column;
  gap:1rem;
  justify-content: center;
  align-items: center;
}





















