{% extends "layout.html" %} {% block body %}

<div class="flash_container">
  {% with messages = get_flashed_messages() %} 
      {% if messages %}
      <ul class="flashes" style="list-style: none; margin:0; padding:0;">
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
      </ul>
      {% endif %} 
  {% endwith %}
  </div>



<form class="form_container" action="/register" method="post">
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">username</span>
  <input
      name="username"
      autofocus
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">password</span>
  <input name="password"
    autofocus
    type="password"
    class="form-control"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-default"
    />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">password</span>
  <input
    name="confirmation"
    placeholder="confirmation"
    autofocus
    type="password"
    class="form-control"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-default"
    />
    </div>
  <button type="submit" class="btn btn-dark">register</button>

</form>

<div class="table-responsive">
  <table class="table table-hover table-borderless">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>username</th>
      </tr>
    </thead>
    {% for user in users %}
    <tbody>
      <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

<footer>
  <p>Copyright &copy 2023 Florian Purschke. All Rights Reserved</p>
</footer>

{% endblock %}
